<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>確認画面</title>
</head>

<body>
	<h2>入力内容をご確認ください。</h2>
	<div th:object="${contactForm}">
		<table border="1">
			<tr>
				<th>項目</th>
				<th>入力内容</th>
			</tr>
			<tr>
				<th>お名前</th>
				<td th:text="${contactForm.getUserName()}"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td th:text="${contactForm.getEmail()}"></td>
			</tr>
			<tr>
				<th>お問い合わせ内容</th>
				<td th:text="${contactForm.getMessage()}"></td>
			</tr>
		</table>
	</div>
</body>

</html>